body {
  margin: 0;
  height: 100%;
}

main {
  padding: 20px 15px;
  width: 100%;
}

.padding {
  padding: 30px;
}

.container-botez {
  width: 80%;
  margin: auto;
  padding: 20px 15px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .container-botez {
    width: 80%;
    margin: auto;
  }
}

.h1 {
  text-align: center;
  padding-top: 50px;
}

.img {
  width: 50%;
}

.p-of-img {
  display: flex;
}
