body {
    margin: 0;
    height: 100%;
}

main {
    width: 100%;
    background-color: rgb(245, 244, 244);
}

.padding {
    padding: 30px;
}

.container {
    width: 80%;
    margin: 0;
    padding: 0px 15px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .container {
        width: 80%;
        margin: auto;
    }
}

h1 {
    text-align: center;
    padding: 50px;
}

img {
    width: 100%;
}

.swiper {
    width: 50%;
}

.padding {
    padding: 50px;
    border: 2px solid yellow;
}