body {
  margin: 0;
  height: 100%;
}

main {
  width: 100%;
  background-color: rgb(245, 244, 244);
}

.padding {
  padding: 30px;
}

.container {
  width: 80%;
  margin: 0;
  padding: 20px 15px;
  position: relative;
}


@media screen and (min-width: 768px) {
  .container {
    width: 80%;
    margin: auto;
  }
}

.background-img {
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-size: cover;
  min-height: 100%;
  background-image: url(/img/degustare.png);
}

.margin-0 {
  margin: 0;
  text-align: center;
  padding: 10px;
  padding-top: 50px;
  background-color: white;
}

::placeholder {
  color: white;
  font-size: 16px;
}

.btn-meniu {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 5px 25px;
  background: #ef233c;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: 0;
  box-shadow: 0 0 4px 3px rgb(0 0 0 / 50%);
}

.open {
  position: absolute;
  top: 95%;
  left: 2%;
}

.day {
  padding: 5px 5px;
  text-align: center;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

h2 {
  padding: 30px;
  text-align: center;
}

.flex {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
}

.despre-noi {
  display: flex;
  flex-direction: column;
}

.padding-img {
  padding: 10px;
}

.echipa {
  width: 100%;
  top: 80px;
}

.Meniuri {
  padding: 10px;
}

.boh {
  display: flex;
}

.relative {
  position: relative;
}

.btn-center {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 5px 25px;
  background: #ef233c;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: 0;
  box-shadow: 0 0 4px 3px rgb(0 0 0 / 50%);
}

.img-meniuri {
  width: 100%;
}
