body {
    margin: 0;
    height: 100%;
}

main {
    width: 100%;
    background-color: rgb(245, 244, 244);
}

.padding {
    padding: 30px;
}

.container {
    width: 80%;
    margin: 0;
    padding: 0px 15px;
    position: relative;
}

@media screen and (min-width: 768px) {
    .container {
        width: 80%;
        margin: auto;
    }
}


.swiper {
    padding-top: 50px;
    /* width: 80%; */
}

.our-food {
    text-align: center;
    padding-top: 50px;
}

.swiper-slide img {
    width: 100%;
}

.padding {
    padding: 15px;
}

.h3 {
    border: 1px solid black;
    padding: 15px;
    background-color: #ffc300;
}

.list-food {
    list-style-type: none;
    padding: 20px;
    background-color: wheat;
}

.style-list {
    padding: 5px;
    font-style: normal;
}

.price {
    text-align: right;
}

h2 {
    text-align: center;
    padding: 20px;
}